.title {
    background-color: rgb(203, 174, 174);
    height: 30vh; 
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}   

.title::before {
    content: "";
    background-color: rgb(93, 100, 246);
    font-size: 4rem;
    border-radius: 50px;
    position: absolute;
    left: 43%;
    width: 10px;
    height: 10px;
    margin-right: 30px;
}

.title::after {
    content: "";
    background-color: rgb(246, 93, 119);
    font-size: 4rem;
    border-radius: 50px;
    position: absolute;
    align-items: flex-end;
    right: 43%;
    width: 10px;
    height: 10px;
    margin-left: 30px;
}